html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
}
.bl {
  color: black;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.f-z-s {
  font-size: 1.8rem;
}
.f-z-1 {
  font-size: 1.5rem;
}
.f-z-2 {
  font-size: 2rem;
}
.f-z-3 {
  font-size: 3rem;
}
.f-z-5 {
  font-size: 5rem;
}
.light {
  color: #525252;
  background-color: #ffffff;
}
.dark {
  color: #ffffff;
  background-color: #525252;
}
.btn-dark {
  background-color: #525252;
  border-radius: 0;
}
.btn-danger {
  background-color: coral;
  border-color: lightcoral;
}
.btn-danger:hover {
  background-color: lightcoral;
  border-color: coral;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
