// #B7C8D9 - blue-gray
// #FFF 
// #F3F3F3 - maybe font
// #A4A4A4 
// #F0F0F0 maybe section bg color
// #000 
// #343638 dark gray
// #E8E8E8
// #9E9E9E
$font-family: 'Open Sans', sans-serif;
$background-main: #f3f3f3;
$background-section: #e8e8e8;
$span-color: #b7c8d9;
$font-light-color: #ffffff;
$font-footer-color: #a4a4a4;
$font-dark-color: #000000;
$button-color: #343638;
$inner-card-color: #f0f0f0;
$line-color: #9e9e9e;