// fonts
$font-1: "Source Sans Pro", sans-serif;
$font-2: Hind, sans-serif;
$font-3: Fresca, sans-serif;

// colors
$font-col-1: #434343;
$font-col-2: #343434;
$font-col-3: #eeeeee;
$font-col-4: #9b9b9b;

$mark: rgb(27, 145, 219);
$btn-bg: rgb(66, 140, 51);

$bg-1: url('../img/m-h-day.jpg');
$bg-2: #ffffff;
$bg-3: #222222;

$gradient: linear-gradient(90deg, rgb(51, 209, 83) 0%, rgba(58,58,232,1) 100%, rgb(67, 164, 146) 50%);