// fonts
$font-1: "Source Sans Pro", sans-serif;
$font-2: Hind, sans-serif;
$font-3: Fresca, sans-serif;

// colors
$font-col-1: #ffffff;
$font-col-2: #ffffff;
$font-col-3: #ffffff;
$font-col-4: #ffffff;

$mark: rgb(228, 37, 37);
$btn-bg: rgb(234, 163, 39);

$bg-1: url('../img/m-h-night.jpg');
$bg-2: #202020;
$bg-3: #3e3e3e;

$gradient: linear-gradient(90deg, rgb(221, 160, 30) 0%, rgb(183, 61, 31) 100%, rgb(214, 127, 13) 50%);